<div id="templateMemberStory">              <!-- CONTAINER GENERAL -->

        <div id="pictureName"><img id="picture" src="{{pictureUrl}}"></div>

        <div id="presentation">
            <div id="identity">
                <p id="firstName">{{firstName}}</p>
                <p id="lastName">{{lastName}}</p>
                <p id="nickname"> dit {{nickname}}</p>
            </div>

            <div id="description">
                <div id="title">{{title}}</div>
                <div id="history">{{history}}</div>
                
            </div>
        </div>
</div>

