/*#body{
	background-color: rgb(235,235,235);
}

#bannerAndNav *{
	list-style: none;
	display: inline-block;
	color: inherit;
}
#bannerAndNav{
	padding: 10px;
	background-color: rgb(150,150,150)
}

#socialMedias{
	background-color: grey;
	text-align: right;
}

#socialMedias ul li{
	list-style: none;
	display: inline;
}
*/