#body{
	background-color: rgb(240,240,240);
	min-width: 400px;
}
#mainNav{
	position : sticky;
}
#socialMedias{
	padding-top: -15px;
	border-radius: 55px;
	width: 95%;
	display: block;
	margin: auto;
	background-color: grey;
	text-align: right;
	position:relative;
	z-index: 1000;
}
#socialMedias ul {
	margin-right: 15px;
}

#socialMedias ul li{
	display: inline-block;
	margin-right: 5px;
	color:black;
}

#socialMedias ul li img{
	height: 25px;
	width: 25px;
}


footer{
	width: 100%;
	color:grey;
}

footer .row{
	background-color: rgb(25,25,25);
	margin-top: -23px;
	padding-top: 20px;
}

#authorMark{
	text-align: center;
	background-color: rgb(25,25,25);
}

 .fakeimg {
      height: 200px;
      background: #aaa;
  }