<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<div id="bannerAndNav">
  <h1>
    <img src="../../favicon.ico">{{ title }}</h1>
  <nav>
    <ul>
      <li>
        <a href=""> Accueil</a>
      </li>
      <li>
        <a routerLink="/presentation" routerLinkActive="active"> Présentation</a>
      </li>
      <li>
        <a routerLink="/activities" routerLinkActive="active"> Activités</a>
      </li>
      <li>
        <a routerLink="/joinUs" routerLinkActive="active"> Nous rejoindre</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active"> Contact</a>
      </li>

    </ul>
  </nav>
</div>


<div id="content">
  <router-outlet></router-outlet>
</div>

<br>

<div class="row">

  <div class="col-sm-8">

    <footer>
      <div id="socialMedias">
        <ul>
          <li>
            <a href="https://www.facebook.com/LesLionsDeFlandres/" onclick="window.open(this.href); return false;">FacebookIcon</a>
          </li>
          <li>TwitterIcon</li>
          <li>YoutubeIcon</li>
        </ul>
      </div>
      <div id="copyright">Développé sur Angular6 @Thibault Marhem</div>
    </footer>

  </div>
</div>