
#mainNav{
	position : sticky;
}
#socialMedias{
		padding-top: -15px;

		width: 95%;
display: block;
margin: auto;
	background-color: grey;
	text-align: right;
}
#socialMedias ul li{
	display: inline-block;
	margin-right: 25px;
}


footer{
	background-color: black;
	width: 100%;
}

#authorMark{
	text-align: center;
	color: grey;
}