<youtube-player
      [videoId]="id"
      [height]="500"
      [width]="1000"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>


    <p>Texte d'accueil</p>
    
    <p>Suivez notre page Facebook et nos évènements : 


      <fb-follow href="https://www.facebook.com/LesLionsDeFlandres/"></fb-follow>
      <fb-page 
      href="https://www.facebook.com/LesLionsDeFlandres/"
      adaptContainerWidth="true"
      smallHeader="true"
      tabs="timeline,events"
      ></fb-page></p>

