

<div class="row">


  <div class="col-sm-12" id="homeText">
    Les Lions de Flandre, compagnie de reconstitution historique des détachements militaires bourguigons du XVe siècle - Association loi 1901
  </div>
</div>

<div class="row">

  <div class="col-sm-8" id="carouselContainer">

    <div id="carouselPlugin" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#carouselPlugin" data-slide-to="0" class="active"></li>
        <li data-target="#carouselPlugin" data-slide-to="1"></li>
        <li data-target="#carouselPlugin" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <a class="nav-link" routerLink="/presentation" routerLinkActive="active">
            <img src="../../assets/images/carousel2.jpg" alt="Qui sommes-nous ?">
          </a>
          <div class="carousel-caption">
            <h2>Qui sommes-nous ?</h2>
          </div> 
        </div>

        <div class="carousel-item">
          <a class="nav-link" routerLink="/activities" routerLinkActive="active"><img src="../../assets/images/carousel1.jpg" alt="Nos activités">
          </a>
          <div class="carousel-caption">
            <h2>Nos activités</h2>
          </div> 
        </div>
        
        <div class="carousel-item">
          <a class="nav-link" routerLink="/joinUs" routerLinkActive="active">
            <img src="../../assets/images/carousel3.jpg" alt="Nous rejoindre">
          </a>
          <div class="carousel-caption">
            <h2>Nous rejoindre !</h2>
          </div> 
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselPlugin" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carouselPlugin" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>

      <!--
      <div id="youtubePlayer">
        <youtube-player
        [videoId]="id"
        [height]="282"
        [width]="500"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        ></youtube-player>
      </div>
    -->

  </div>

  <div class="col-sm-4" id="facebookPlugin">

    <p>Suivez notre page Facebook et nos évènements ! <br>

      <fb-follow href="https://www.facebook.com/LesLionsDeFlandres/"></fb-follow>
      <fb-page 
      href="https://www.facebook.com/LesLionsDeFlandres/"
      adaptContainerWidth="true"
      smallHeader="true"
      tabs="timeline,events"
      ></fb-page></p>

    </div>     


