<app-nav-presentation></app-nav-presentation>

<div> Présentation des membres de l'asso</div>

<app-template-member-story
firstName="Theudbald"
lastName="De la Rosée"
nickname="Tassin"
title="Soldat"
history="Ramassé lors du sac victorieux de la ville de Bidule par Pierre de Roubaix, il fut décidé de le recueillir en hommage au courage des siens tombé pendant l'ssault. Il fut ainsi nommé Theudbald, qui signifie peuple courageux. blablabala"
></app-template-member-story>

<app-template-member-story
firstName="Martin"
lastName="Guerre"
nickname="La sieste"
title="Sergent d'armes"
history="description description description description description description description description "
></app-template-member-story>