<app-nav-presentation></app-nav-presentation>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-4" id="myScrollspy">
				<ul class="nav nav-pills flex-column sticky-top bg-dark rounded">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown">Les nobles</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="" ng-click="scrollTo('section11')">Tassin</a>
							<a class="dropdown-item" href="#section12">Martin</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Les soldats</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#section11">Tassin</a>
							<a class="dropdown-item" href="#section22">Martin</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Les artisans</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#section31">Tassin</a>
							<a class="dropdown-item" href="#section32">Martin</a>
						</div>
					</li>
				</ul>
			</nav>
			<div class="col-sm-9 col-8">
				<div id="section11" class="bg-danger">         
					<app-template-member-story
					firstName="Theudbald"
					lastName="De la Rosée"
					nickname="Tassin"
					title="Soldat"
					history="Ramassé lors du sac victorieux de la ville de Bidule par Pierre de Roubaix, il fut décidé de le recueillir en hommage au courage des siens tombé pendant l'ssault. Il fut ainsi nommé Theudbald, qui signifie peuple courageux. blablabala"
					></app-template-member-story>
				</div>      
				<div id="section12" class="bg-danger">         
					<app-template-member-story
					firstName="Martin"
					lastName="Guerre"
					nickname="La sieste"
					title="Sergent d'armes"
					history="description description description description description description description description "
					></app-template-member-story>
				</div>

				<div id="section21" class="bg-secondary">         
					<app-template-member-story
					firstName="Theudbald"
					lastName="De la Rosée"
					nickname="Tassin"
					title="Soldat"
					history="Ramassé lors du sac victorieux de la ville de Bidule par Pierre de Roubaix, il fut décidé de le recueillir en hommage au courage des siens tombé pendant l'ssault. Il fut ainsi nommé Theudbald, qui signifie peuple courageux. blablabala"
					></app-template-member-story>
				</div>      
				<div id="section22" class="bg-secondary">         
					<app-template-member-story
					firstName="Martin"
					lastName="Guerre"
					nickname="La sieste"
					title="Sergent d'armes"
					history="description description description description description description description description "
					></app-template-member-story>
				</div>

				<div id="section31" class="bg-info">         
					<app-template-member-story
					firstName="Theudbald"
					lastName="De la Rosée"
					nickname="Tassin"
					title="Soldat"
					history="Ramassé lors du sac victorieux de la ville de Bidule par Pierre de Roubaix, il fut décidé de le recueillir en hommage au courage des siens tombé pendant l'ssault. Il fut ainsi nommé Theudbald, qui signifie peuple courageux. blablabala"
					></app-template-member-story>
				</div>      
				<div id="section32" class="bg-info">         
					<app-template-member-story
					firstName="Martin"
					lastName="Guerre"
					nickname="La sieste"
					title="Sergent d'armes"
					history="description description description description description description description description "
					></app-template-member-story>
				</div>
			</div>
		</div>
	</div>

</body>



